/******************************************************************************
**  Description:    Overall CSS styles
******************************************************************************/

/* Main container settings ------------------------------------------------- */

#top-bar {
    background-color: rgb(45, 122, 153);
    padding: 20px 0 15px 0;
}

#bug-logo {
    height: 70px;
}

.dashboard-top-bar {
    background-color: rgb(52, 144, 180);
}

#page-title {
    color: white;
    text-decoration: none;
}

.page-links {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 40px;
}

.mdl-layout__drawer-button {
    padding-top: 20px;
}

.material-icons {
    color: white;
}


/* Drawer settings --------------------------------------------------------- */

.mdl-layout__drawer {
    width: 300px;
    left: -60px;
}
  
.mdl-layout__drawer.is-visible {
    left: 0;
}


/* Component Box settings -------------------------------------------------- */

.mdl-layout__content {
    width: 100%;
}

.page-content {
    margin: 2%;
}


/* Form settings ----------------------------------------------------------- */

#recordForm {
    width: 450px;
    background-color: #d8e9e962;
    padding: 15px;
}

#recordForm label, #recordForm input, textarea, select {
    margin: 4px;
    display: inline-block;
}

#recordForm label {
    width: 110px;
}

.textarea-label {
    vertical-align: top;
}

#recordForm input, textarea, select {
    width: 300px;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #808080;
}

#submit {
    margin-top: 30px;
}

#save {
    width: 100px !important;
    background-color: rgb(52, 144, 180);
    color: #fff;
    border: none;
    margin-top: 10px !important;
    padding: 10px !important;
}

#save:hover {
    background-color: #226078;
}

.radio-input {
    width: 20px !important;
}

.radio-label {
    width: 30px !important;
    margin-right: 20px !important;
}

legend {
    display: none;
}

.mdl-card__supporting-text {
    padding: 25px !important;
}

select {
    width: 311.6px;
}

.grid-container {
    display: grid;
    grid-template-columns: 120px 330px;
    grid-column-gap: 15px;
}


/* Size the ADD BUG programmer checkbox container -------------------------- */

.checkbox-container {
    border: 1px solid #808080;
    border-radius: 2px;
    background-color: #fff;
    margin: 5px 0 5px 4px;
    width: 310px;
    overflow: scroll;
    height: 90px;
    max-width: 100%;
    overflow-x: hidden;
}

.checkbox-input {
    width: 10px !important;
}


/* Spacing for the submission button spinner animation --------------------- */

.mdl-spinner {
    margin-bottom: -10px;
    margin-left: 25px;
}


/* Submit buttons ------------------------------------------------------------- */

.submitBtn {
    cursor: pointer;
}

.div-label {
    padding-top: 5px;
}