/******************************************************************************
**  Description:  Bug Page / User-home - component css styles
******************************************************************************/

/* Searchbar -------------------------------------------------------------- */

#search-container {
    margin-bottom: 25px;
}

#search-form {
    border: 1px solid #808080;
    border-radius: 2px;
    position: relative;
    display: inline-block;
}

#search-form input, #search-form button, #clear-search, #reset-table {
    border: 0;
    vertical-align: middle;
    padding: 3px;
}

#search-form button, #clear-search, #reset-table {
    right: 0;
    left: 0;
    background-color: #2d7a99;
    color: #fff;
    width: 50px;
    height: 36px !important;
}

#search-form button:hover, #clear-search:hover, .update-btn:hover, #reset-table:hover{
    background-color: #226078;
} 

#clear-search {
    margin-left: 16px;
    width: 70px;
    padding: 9px;
    border-radius: 2px;
}

#reset-table {
    margin-left: 16px;
    padding: 9px;
    width: 130px;
    border-radius: 2px;
}

#search-form input {
    width: 420px;
    padding: 5px;
}

.update-btn {
    background-color: #2d7a99;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    padding: 5px;
    text-decoration: none;
    color: #fff;
}

.mdl-data-table {
    table-layout: fixed;
    word-wrap: break-word;
    white-space: normal;
}

th {
    padding-top: 8px !important;
}

td {
    max-width: 200px;
}

ul {
    list-style-type: none;
    font-size: 13px;
    padding: 0;
    margin: 0;
}

li {
    margin: -5px;
    padding: 0;
    margin-left: 1px;
}


/* Submit bug page spinner style ------------------------------------------- */

#spinner {
    margin-top: 15px;
}


/* Submit bug text cell max size ------------------------------------------- */

.user-text {
    max-height: 37px;
    overflow: hidden;
}

/* Doughnut chart ---------------------------------------------------------- */

#recordForm {
    float: left;
    width: 450px;
}

#top-row-container {
    margin: 8px;
    width: calc(100% - 16px);
    display: flex;
}

#add-bug-container {
    margin-right: 20px;
    min-width: 530px;
    flex-grow: 1;
}

#bug-chart-container {
    min-width: 450px;
    width: 450px;
    text-align: center;
}

#bug-chart-title {
    justify-content: center;
}

#my_dataviz {
    margin-top: 30px;
}

#bug-chart-text {
    width: 400px;
    height: 100%;
}

/* Fixed radio button ------------------------------------------------------ */

.radio-input {
    cursor: pointer;
}
